{% load static online_status_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
{% if user.is_authenticated %}
    <li><a href="{% url 'userena_profile_detail' user.username %}">Мой PDA</a></li>
    <li><a href="{% url 'userena_signout' %}">Выйти</a></li>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'userena_signin' %}">log in</a> or
        <a href="{% url 'userena_signup' %}">sign up</a></p>
{% endif %}
<br>
{% if user.is_authenticated %}
    <img src="media/{{ user.avatar }}" alt=""><br>
    {{ user.get_online_info }}<br>
    {{ user.sign_image }}
    {{ user.country }} - {{ user.city }}
    <img src="media/{{ user.sign_image }}" alt=""><br>
{% endif %}
<hr>
<img src="static/goose.jpg" alt="">
<p><i>GOOSE</i></p>
<h2>НОВОСТИ</h2>
<hr>

{% if newsEntries %}
    {% for news in newsEntries %}
        <div style="float: left; padding: 10px;">
            <h3><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
            <hr>
            <p>{{ news.id | safe }}</p>
            <p>{{ news.shortDescript | safe }}</p>
            <p>Author: <i>{{ news.author }}</i></p>
            <p>Gallery: <i>{{ news.gallery.title }}</i></p>
            <p><i>{{ news.gallery.slug }}</i></p>
            <p><img src="/media/{{ news.gallery.image1 }}" alt=""></p>
            <hr>
            <a href="/news/edit/{{ news.id }}">Редактировать запись</a><br>
            <a href="/news/edit_gallery/{{ news.gallery_id }}">Редактировать галлерею</a><br>
            <a href="/news/del/{{ news.gallery_id }}">Удалить</a>
        </div>
    {% endfor %}
{% else %}
    <p>Новости не были найдены</p>
{% endif %}

<hr>
<div style="float: none">
    <button><a href="{{ newsURL }}">ВСЕ НОВОСТИ</a></button>
</div>
</body>
</html>