{% load static comments %}
{% load comments_xtd %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список новостей {{ page_obj.number }}</title>
</head>
<body>
<Div style="text-align: right"><a href="{% url 'entries_app:news_add' %}">Добавить новость</a></Div>
{% if newsList %}
    {% for news in newsList %}
        <div style="float: left; padding: 10px;">
            <h3><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
            <hr>
            <p><img src="/media/{{ news.image }}" alt="" height="200"></p>
            <p>{{ news.short_descript | safe }}</p>
            <p><b>Просмотры:</b> {{ news.hit_count.hits }}</p>
            {% get_comment_count for news as comment_count %}
            <p><b>Комментарии:</b> {{ comment_count }}</p>
            <p><b>Автор:</b> <i>{{ news.author }}</i></p>
            <hr>
            <a href="{% url 'entries_app:news_edit' news.id %}">Редактировать запись</a><br>
            <a href="{% url 'entries_app:news_edit_gal' news.objgallery_id %}">Редактировать
                галлерею {{ news.objgallery_id }}</a><br>
            <a href="{% url 'entries_app:news_del' news.objgallery_id %}">Удалить</a>
        </div>
    {% endfor %}
{% else %}
    <p>Новости не были найдены</p>
{% endif %}
<div style="float: none">
    <hr>
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
</body>
</html>