{% load static comments %}
{% load comments_xtd %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список модов {{ page_obj.number }}</title>
</head>
<body>
<Div style="text-align: right"><a href="{% url 'entries_app:mod_add' %}">Добавить мод</a></Div>
{% if modsList %}
    {% for mod in modsList %}
        <div style="float: left; padding: 10px;">
            <h3><a href="{{ mod.get_absolute_url }}">{{ mod.title }}</a></h3>
            <hr>
            <img src="/media/{{ mod.file.image }}" alt="" height="200">
            <p>{{ mod.short_descript | safe }}</p>
            <p><b>Просмотры:</b> {{ mod.hit_count.hits }}</p>
            {% get_comment_count for mod as comment_count %}
            <p><b>Комментарии:</b> {{ comment_count }}</p>
            <p><b>Автор:</b> <i>{{ mod.file.author }}</i></p
            <hr>
            <a href="{% url 'entries_app:mod_edit' mod.id %}">Редактировать запись</a><br>
            <a href="{% url 'entries_app:mod_edit_gal' mod.file.objgallery_id %}">Редактировать
                галлерею {{ mod.objgallery_id }}</a><br>
            <a href="{% url 'entries_app:mod_del' mod.file.objgallery_id %}">Удалить</a>
        </div>
    {% endfor %}
{% else %}
    <p>Моды не были найдены</p>
{% endif %}
<div style="float: none">
    <hr>
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
</body>
</html>