{% extends 'userena/base_userena.html' %}
{% load i18n static funcs %}


{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.user.
{% endblocktrans %}{% endblock %}
{% block content_title %}
    <h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}
        ){% endif %}</h2>{% endblock %}


{% block content %}

    <div class="white-box">
        {% block profile_navigation %}
            {# Dirty hack. Will use django-guardian in the future. #}
            {% if user.username == profile.user.username %}
                <ul id="box-nav">
                    {% block profile_navigation_items %}
                        <li><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a>
                        </li>
                        <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
                        <li>
                            <a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
                        </li>
                        <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
                    {% endblock %}
                </ul>
            {% endif %}
        {% endblock %}

        <div id="profileTabs">
            <ul>
                <li><a href="#profile"> Профиль </a></li>
                <li><a href="#equipment"> Снаряга </a></li>
                <li><a href="#some"> Что-то </a></li>
            </ul>

            <div id="profile">
                <div id="details">
                    {% block profile_details %}
                        {% if profile.user.bg %}
                            <img class="mugshot" src="{{ profile.user.bg.url }}" title="{% trans "Your mugshot" %}"
                                 style="width: 100%;"/>
                        {% endif %}
                        {% if profile.user.avatar %}
                            <img class="mugshot" src="{{ profile.user.avatar.url }}" alt="{% trans "Your mugshot" %}"
                                 height="150"/><br>
                        {% endif %}

                        {% if profile.user.money %}

                            Деньги: {{ profile.user.money }} <br>
                        {% endif %}

                        <dl>
                            {% block profile_definition_list %}
                                {% if profile.user.get_full_name %}
                                    <dt>{% trans "Name" %}</dt>
                                    <dd>{{ profile.user.get_full_name }}</dd>
                                {% endif %}
                                <dt>{% trans "Online" %}</dt>
                                <dd>{{ profile.user.last_online }}</dd>
                                {% if profile.user.get_full_name %}
                                    <dt>Статус</dt>
                                    <dd>{{ profile.user.quote }}</dd>
                                {% endif %}
                                {% if profile.user.email and not hide_email %}
                                    <dt>{% trans "Email" %}</dt>
                                    <dd>{{ profile.user.email }}</dd>
                                {% endif %}
                                {% if profile.user.age %}
                                    <dt>{% trans "Age" %}</dt>
                                    <dd>{{ profile.user.age }}</dd>
                                {% endif %}
                                {% if profile.user.website %}
                                    <dt>{% trans "Website" %}</dt>
                                    <dd>{{ profile.user.website|urlize }}</dd>
                                {% endif %}
                                {% if profile.user.location %}
                                    <dt>{% trans "Location" %}</dt>
                                    <dd>{{ profile.user.location }}</dd>
                                {% endif %}
                                {% if profile.user.about_me %}
                                    <dt>{% trans "About me" %}</dt>
                                    <dd>{{ profile.user.about_me }}</dd>
                                {% endif %}
                                {% if profile.user.country %}
                                    <dt>{% trans "Country" %}</dt>
                                    <dd>{{ profile.user.country }}</dd>
                                {% endif %}
                                {% if profile.user.signature %}
                                    <dt>Подпись:</dt>
                                    <dd>{{ profile.user.signature }}</dd>
                                {% endif %}
                                {% if profile.user.sign_image %}
                                    <img class="mugshot" src="{{ profile.user.sign_image.url }}"
                                         alt="{% trans "Your mugshot" %}"/>
                                {% endif %}
                            {% endblock %}
                        </dl>
                    {% endblock %}
                </div>
            </div>
    {% include "users/equip/equipment.html" %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/users/jup.js' %}"></script>
    <script src="{% static 'js/responsiveTabs.js' %}"></script>
    <script>$('#profileTabs').responsiveTabs({
        startCollapsed: 'accordion',
        setHash: true
    });</script>


    <script>
        clearEmptyBlocks('.eq-inv', 20);

        /*
          CONTEXT MENU :: WEAPONS
        */
        // REMOVE
        $(document).contextmenu({
            delegate: ".equip_slot",
            menu: [
                {title: "<i>Убрать в рюкзак</i>", cmd: "remove", uiIcon: "ui-icon out"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "remove":
                        let dataId = $target.attr("data-id"),
                            dataSlot = $target.attr("data-slot"),
                            equipType = $target.attr("data-type"),
                            slot_to = defineSlot(equipType);

                        removeFromSlot($target, dataSlot + "_" + dataId);
                        fromSlot($target, "#inventory", dataId, equipType, slot_to, false);


                        break;
                    case "paste":
                        break;
                }
                // Optionally return false, to prevent closing the menu now
            },
        });
        // SET IN
        $.widget("moogle.contextmenu_weapon", $.moogle.contextmenu, {});
        $(document).contextmenu_weapon({
            delegate: ".equip_inv_weapon",
            menu: [
                {title: "<i>Переместить в слот № 1</i>", cmd: "slot1", uiIcon: "ui-icon in"},
                {title: "<i>Переместить в слот № 2</i>", cmd: "slot2", uiIcon: "ui-icon in"},
                {title: "<i>Переместить в слот № 3</i>", cmd: "slot3", uiIcon: "ui-icon in"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "slot1":
                        setInSlot($target, "slot1");
                        setUpSlot($target, "slot1");
                        break;
                    case "slot2":
                        setInSlot($target, "slot2");
                        setUpSlot($target, "slot2");
                        break;
                    case "slot3":
                        setInSlot($target, "slot3");
                        setUpSlot($target, "slot3");
                        break;
                }
            },
        });
        /*
          CONTEXT MENU :: ARMOR
        */
        // SET IN
        $.widget("moogle.contextmenu_outfit", $.moogle.contextmenu, {});
        $(document).contextmenu_outfit({
            delegate: ".equip_inv_outfit",
            menu: [
                {title: "<i>Переместить в слот брони</i>", cmd: "armor", uiIcon: "ui-icon in"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "armor":
                        setInSlot($target, "armor");
                        setUpSlot($target, "armor");
                        break;
                }
            },
        });

        /*
          CONTEXT MENU :: HELMET
        */
        // SET IN
        $.widget("moogle.contextmenu_helmet", $.moogle.contextmenu, {});
        $(document).contextmenu_helmet({
            delegate: ".equip_inv_helmet",
            menu: [
                {title: "<i>Переместить в слот шлемов</i>", cmd: "helmet", uiIcon: "ui-icon in"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "helmet":
                        setInSlot($target, "helmet");
                        setUpSlot($target, "helmet");
                        break;
                }
            },
        });
        /*
          CONTEXT MENU :: DEVICES
        */
        // SET IN
        $.widget("moogle.contextmenu_device", $.moogle.contextmenu, {});
        $(document).contextmenu_device({
            delegate: ".equip_inv_device",
            menu: [
                // {title: "<i>Переместить в слот № 1</i>", cmd: "device1", uiIcon: "ui-icon in"},
                {title: "<i>Переместить в слот детектора</i>", cmd: "device2", uiIcon: "ui-icon in"},
                // {title: "<i>Переместить в слот № 3</i>", cmd: "device3", uiIcon: "ui-icon in"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "device1":
                        setInSlot($target, "device1");
                        setUpSlot($target, "device1");
                        break;
                    case "device2":
                        setInSlot($target, "device2");
                        setUpSlot($target, "device2");
                        break;
                    case "device3":
                        setInSlot($target, "device3");
                        setUpSlot($target, "device3");
                        break;
                }
            },
        });
        /*
         CONTEXT MENU :: HELMET
       */
        // SET IN
        $.widget("moogle.contextmenu_backpack", $.moogle.contextmenu, {});
        $(document).contextmenu_backpack({
            delegate: ".equip_inv_backpack",
            menu: [
                {title: "<i>Переместить в слот рюкзаков</i>", cmd: "backpack", uiIcon: "ui-icon in"},

                {title: "----"}
            ],
            select: function (event, ui) {
                var $target = ui.target;
                switch (ui.cmd) {
                    case "backpack":
                        setInSlot($target, "backpack");
                        setUpSlot($target, "backpack");
                        break;
                }
            },
        });
        /*
          DRAG AND DROP :: WEAPONS
        */
        removeFromSlotClick("slot1");
        removeFromSlotClick("slot2");
        removeFromSlotClick("slot3");
        removeFromSlotClick("armor");
        removeFromSlotClick("helmet");
        removeFromSlotClick("device2");
        removeFromSlotClick("backpack");
        removeFromSlotClick("container1");
        removeFromSlotClick("container2");
        removeFromSlotClick("container3");
        removeFromSlotClick("container4");
        removeFromSlotClick("container5");
        removeFromSlotClick("belt1");
        removeFromSlotClick("belt2");
        removeFromSlotClick("belt3");
        removeFromSlotClick("belt4");
        replaceInInventoryDnD("#e-slot1");
        replaceInInventoryDnD("#e-slot2");
        replaceInInventoryDnD("#e-slot3");
        replaceInInventoryDnD("#e-armor");
        replaceInInventoryDnD("#e-helmet");
        // replaceInInventoryDnD("#e-device1");
        replaceInInventoryDnD("#e-device2");
        // replaceInInventoryDnD("#e-device3");
        replaceInInventoryDnD("#e-backpack");
        replaceInInventoryDnD("#e-container1");
        replaceInInventoryDnD("#e-container2");
        replaceInInventoryDnD("#e-container3");
        replaceInInventoryDnD("#e-container4");
        replaceInInventoryDnD("#e-container5");
        replaceInInventoryDnD("#e-belt1");
        replaceInInventoryDnD("#e-belt2");
        replaceInInventoryDnD("#e-belt3");
        replaceInInventoryDnD("#e-belt4");
        $('body').on('dblclick', ".equip_inv_weapon", function () {
            setInSlotClick(this, "weapon", ["slot1", "slot2", "slot3"]);
        });
        $('body').on('dblclick', ".equip_inv_outfit", function () {
            setInSlotClick(this, "outfit", ["armor"]);
        });
        $('body').on('dblclick', ".equip_inv_helmet", function () {
            setInSlotClick(this, "helmet", ["helmet"]);
        });
        $('body').on('dblclick', ".equip_inv_device", function () {
            setInSlotClick(this, "device", ["device2"]);
        });
        $('body').on('dblclick', ".equip_inv_backpack", function () {
            setInSlotClick(this, "backpack", ["backpack"]);
        });
        $('body').on('dblclick', ".equip_inv_ammo", function () {
            setInSlotClick(this, "ammo", ["belt1", "belt2", "belt3", "belt4"], true);
        });
        setInSlotDnD('.equip_inv_weapon', "#equipped_slot1, #equipped_slot2, #equipped_slot3", "weapon");
        setInSlotDnD('.equip_inv_outfit', "#equipped_armor", "outfit");
        setInSlotDnD('.equip_inv_helmet', "#equipped_helmet", "helmet");
        setInSlotDnD('.equip_inv_device', "#equipped_device2", "device");
        setInSlotDnD('.equip_inv_backpack', "#equipped_backpack", "backpack");
        setInAmmoDnD('.equip_inv_ammo', "#equipped_belt1, #equipped_belt2, #equipped_belt3, #equipped_belt4", "ammo");
        let containersQuantity = Number($("#containers").attr("data-containers"));
        if (containersQuantity >= 5) {
            replaceInInventoryDnD("#e-container5");
            $('body').on('dblclick', ".equip_inv_artifact", function () {
                setInSlotClick(this, "artifact", ["container1", "container2", "container3", "container4", "container5"]);
            });
            setInSlotDnD('.equip_inv_artifact', "#equipped_container1, #equipped_container2, #equipped_container3, #equipped_container4, #equipped_container5", "artifact");
        } else if (containersQuantity >= 4) {
            replaceInInventoryDnD("#e-container4");
            $('body').on('dblclick', ".equip_inv_artifact", function () {
                setInSlotClick(this, "artifact", ["container1", "container2", "container3", "container4"]);
            });
            setInSlotDnD('.equip_inv_artifact', "#equipped_container1, #equipped_container2, #equipped_container3, #equipped_container4", "artifact");
        } else if (containersQuantity >= 3) {
            replaceInInventoryDnD("#e-container3");
            setInSlotDnD('.equip_inv_artifact', "#equipped_container1, #equipped_container2", "artifact");
            $('body').on('dblclick', ".equip_inv_artifact", function () {
                setInSlotClick(this, "artifact", ["container1", "container2", "container3", "container4"]);
            });
        } else if (containersQuantity >= 2) {
            replaceInInventoryDnD("#e-container2");
            $('body').on('dblclick', ".equip_inv_artifact", function () {
                setInSlotClick(this, "artifact", ["container1", "container2"]);
            });
            setInSlotDnD('.equip_inv_artifact', "#equipped_container1, #equipped_container2", "artifact");
        } else if (containersQuantity >= 1) {
            replaceInInventoryDnD("#e-container1");
            $('body').on('dblclick', ".equip_inv_artifact", function () {
                setInSlotClick(this, "artifact", ["container1"]);
            });
            setInSlotDnD('.equip_inv_artifact', "#equipped_container1", "artifact");
        }

    </script>
{% endblock %}