{% load static comments %}
{% load comments_xtd %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список изображений {{ page_obj.number }}</title>
</head>
<body>
<Div style="text-align: right"><a href="{% url 'entries_app:gallery_add' %}">Добавить изображение</a></Div>
{% if imagesList %}
    {% for image in imagesList %}
        <div style="float: left; padding: 10px;">
            <h3><a href="{{ image.get_absolute_url }}">{{ image.title }}</a></h3>
            <hr>
            <img src="/media/{{ image.image }}" alt="" height="200">
            <p>{{ image.short_descript | safe }}</p>
            <p><b>Просмотры:</b> {{ image.hit_count.hits }}</p>
            {% get_comment_count for image as comment_count %}
            <p><b>Комментарии:</b> {{ comment_count }}</p>
            <p><b>Автор:</b> <i>{{ image.author }}</i></p>
            <hr>
            <a href="{% url 'entries_app:gallery_edit' image.id %}">Редактировать запись</a><br>
            <a href="{% url 'entries_app:gallery_edit_gal' image.objgallery_id %}">Редактировать
                галлерею {{ image.objgallery_id }}</a><br>
            <a href="{% url 'entries_app:gallery_del' image.objgallery_id %}">Удалить</a>
        </div>
    {% endfor %}
{% else %}
    <p>Изображения не были найдены</p>
{% endif %}
<div style="float: none">
    <hr>
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
</body>
</html>